@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color' as c;

.formulario {
    @include m.contenedor-md();
    background: v.$blanco;
    padding: 3rem 2rem;
    border-radius: v.$radio;
    box-shadow: v.$sombra;
    max-width: 100%;
    margin-bottom: 8rem;

    &__campo {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 1.4rem;
        color: v.$gris-oscuro;
        margin-bottom: .8rem;
        font-weight: v.$bold;
    }

    &__input {
        padding: 1.2rem;
        font-size: 1.6rem;
        border: 1px solid v.$gris-medio;
        border-radius: v.$radio;
        font-family: v.$fuente-principal;
        transition: border-color .3s;

        &:focus {
            border-color: v.$cafe-oscuro;
            outline: none;
        }
        
    }
    &__textarea {
        field-sizing: content;
    }

    &__imagen {
        max-width: 300px;
        margin-top: 1rem;
    }

    &__submit {
        background-color: v.$cafe-oscuro;
        color: v.$blanco;
        padding: 1.4rem;
        font-size: 1.6rem;
        border: none;
        border-radius: v.$radio;
        cursor: pointer;
        font-weight: v.$bold;
        transition: background-color .3s;

        &:hover {
            background-color: c.adjust(v.$cafe-oscuro, $lightness: -10%);
        }
    }
}